* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}
.contain {
  margin: 0 auto;
  max-width: 1440px;
  /* background-color: rgb(160, 195, 248); */
}
.cart {
  display: flex;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  padding: 7px 10px;
  border-radius: 3px;
  width: 80px;
}
.fa-solid {
  color: #21b573;
}
.cart p {
  height: 22px;
  width: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 22px;
  background-color: #21b573;
  color: white;
}
.container {
  display: flex;
  width: 100%;
  gap: 30px;
  margin-bottom: 30px;
}
.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  border-radius: 16px;
  padding: 30px;
}
.img-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.images {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.bottom {
  margin-top: 20px;
  width: 100%;
}
.bottom p {
  font-size: 24px;
  font-weight: 500;
}
.bottom h2 {
  font-size: 16px;
  margin-bottom: 12px;
}
h2 {
  font-size: 18px;
  font-weight: 500;
}
.btn {
  border: none;
  border-radius: 50px;
  background-color: #21b573;
  padding: 7px 25px;
  cursor: pointer;
  color: white;
}
.btn:hover {
  background-color: #18925b;
}
.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: white;
  border-radius: 20px;
  margin: 10px 10px;
}
.row-img {
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rowimg {
  height: 50px;
  width: 60px;
  border-radius: 8px;
}
.fa-x:hover {
  cursor: pointer;
  color: #333;
}

@media screen and (max-width: 667px) {
  #root {
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    margin-bottom: 30px;
  }
  .container {
    flex-direction: column-reverse;
    width: 100%;
  }
  .sidebar {
    width: 100%;
  }
}
